:root {
	--light-purple: #9966ff;
	--light-blue: #3399ff;
	--bg-gradient: linear-gradient(to bottom right, #3399ff, #9966ff);
}

html {
	background-image: linear-gradient(to bottom right, #3399ff, #9966ff);
}
.title {
	color: white;
	text-align: center;
}
.description {
	color:white;
}

.button {
	margin:auto;
	background-image: linear-gradient(to bottom right, #3399ff, #9966ff);
	color: white;
	font-style: bold;
	width: 100px;
	height: 100px;
	text-align: center;
	align-items: center;
	border-radius: 5;
}

.button-container {
	align-items: center;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
}