:root {
	--light-purple: #9966ff;
	--light-blue: #3399ff;
	--bg-gradient: linear-gradient(to bottom right, #3399ff, #9966ff);
}

html {
	background-image: linear-gradient(to bottom right, #3399ff, #9966ff);
}
.title {
	color: white;
	font-family: Coiny;
	text-align: center;
	font-size: 40px;
}
.description {
	font-family: Concert One;
	text-align: center;
	color: #3366ff;
	font-size: 24px;
}

.button {
	margin:auto;
	background-image: linear-gradient(to bottom right, #3399ff, #9966ff);
	color: white;
	font-style: bold;
	margin: 20px;
	width: 200px;
	height: 200px;
	text-align: center;
	font-size: 50px;
	font-family: Coiny;
	align-items: center;
	border-radius: 5;
}

.button-container {
	align-items: center;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
}