:root {
	--light-purple: #9966ff;
	--light-blue: #3399ff;
	--bg-gradient: linear-gradient(to bottom right, #3399ff, #9966ff);
}

html {
	background-image: linear-gradient(to bottom right, #3399ff, #6600cc);
}
.title {
	color: white;
	font-family: Coiny;
	text-align: center;
	font-size: 28px;
}
.description {
	font-family: Concert One;
	text-align: center;
	color: #3366ff;
	font-size: 24px;
}

.button {
	transition-duration: 0.4s;
	margin:auto;
	background-image: linear-gradient(to bottom right, #3399ff, #9966ff);
	color: white;
	font-style: bold;
	width: 200px;
	height: 180px;
	text-align: center;
	font-size: 50px;
	font-family: Coiny;
	align-items: justify;
	border-radius: 45px;
	border-width: 15px;
	border-color: white;
	border-style: solid;
}

.button:hover {
	border-width: 0px;
	border-radius: 30px;
}

.button:focus {
	border-width: 0px;
	border-radius: 30px;
}

.button-container {
	align-items: center;
	background-color: white;
	padding: 10px;
	margin-left: 40px;
	margin-right: 40px;
	border-radius: 30px;
}

.guide {
	align-items: center;
	background-color: white;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 40px;
	margin-left: 130px;
	margin-right: 130px;
	border-radius: 30px;
	
	font-family: Coiny;
	color: #9966ff
}

.credits {
	align-items: center;
	background-color: white;
	padding: 0px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 40px;
	
	font-size: 12px;
	
	outline-style: solid;
	outline-width: 20px;
	outline-color: white;
}